In [43]:
import pandas as pd
import numpy as np
import time

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/ma'
                 'ster/csse_covid_19_data/csse_covid_19_time_series/time_serie'
                 's_19-covid-Confirmed.csv')
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,70,75,82,114,147,177,212,272,322,411
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,639,701,773,839,825,878,889,924,963,1007
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,178,200,212,226,243,266,313,345,385,432
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,149,197,238,428,566,673,790,900,1030,1183

In [3]:
df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20'],
      dtype='object')

In [4]:
df2 = pd.melt(df,
              id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],
              value_name='cases',
              var_name='date')
df2

              Province/State Country/Region      Lat      Long     date  cases
0                        NaN       Thailand  15.0000  101.0000  1/22/20      2
1                        NaN          Japan  36.0000  138.0000  1/22/20      2
2                        NaN      Singapore   1.2833  103.8333  1/22/20      0
3                        NaN          Nepal  28.1667   84.2500  1/22/20      0
4                        NaN       Malaysia   2.5000  112.5000  1/22/20      0
...                      ...            ...      ...       ...      ...    ...
28915  Northwest Territories         Canada  64.8255 -124.8457  3/21/20      1
28916                    NaN     Cape Verde  15.1111  -23.6167  3/21/20      1
28917                    NaN     East Timor  -8.5500  125.5600  3/21/20      1
28918                    NaN        Eritrea  15.1794   39.7823  3/21/20      1
28919                    NaN         Uganda   1.0000   32.0000  3/21/20      1

[28920 rows x 6 columns]

In [30]:
df2['date'] = pd.to_datetime(df2['date'])

In [33]:
df2.iloc[0]['date']

Timestamp('2020-01-22 00:00:00')

In [41]:
int(df2.iloc[0]['date'].timestamp()) # seconds from epoch
#  For Unix, the epoch is January 1, 1970, 00:00:00 (UTC). To find out what the epoch is on a given platform, look at time.gmtime(0).

1579651200

In [44]:
time.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [76]:
int(df2.iloc[0]['date'].timestamp())  #  from January 1, 1970

1579651200

In [51]:
# g spreadsheet uses 12/30/1899 0:00:00 as 0
# time.Timestamp('1899-12-30 00:00:00')
pd.to_datetime('12/30/1890')

Timestamp('1890-12-30 00:00:00')

In [62]:
google_zero_date = pd.to_datetime('12/30/1890')
google_zero_date = int(google_zero_date.timestamp())
google_zero_date  # google timestamp in seconds

-2493158400

In [57]:
pandas_date = int(df2.iloc[0]['date'].timestamp()) # pandas date in seconds
pandas_date

1579651200

In [65]:
dif = pandas_date - google_zero_date
dif # pandas date converted to google date in seconds

4072809600

In [66]:
# in google, each increment of 1 is a day
dif / 60 / 60 / 24 # difference in days

47139.0

In [67]:
# 43852 is 2020/01/22

In [69]:
pd.to_datetime('1/1/1970') - pd.to_datetime('12/30/1890') # dif between python and google zero timedate

Timedelta('28856 days 00:00:00')

In [77]:
1579651200 / 60 # seconds to minute

26327520.0

In [78]:
26327520 / 60 # minute to hour

438792.0

In [79]:
438792 / 24 # hour to days

18283.0

In [81]:
438792 / 365 # days to year

1202.1698630136987

In [86]:
import datetime
datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S.%f')

'2020-03-22 13:45:52.899515'

In [90]:
df2.iloc[0]['date'].strftime('%Y-%m-%d %H:%M:%S.%f')

'2020-01-22 00:00:00.000000'

In [91]:
a = df2.iloc[0]['date']
a.strftime('%Y-%m-%d %H:%M:%S.%f')

'2020-01-22 00:00:00.000000'

In [92]:
def convert_to_gsheet_time_format(x):
    return x.strftime('%Y-%m-%d %H:%M:%S.%f')

convert_to_gsheet_time_format(a)

'2020-01-22 00:00:00.000000'

In [97]:
df2['date2'] = [convert_to_gsheet_time_format(i) for i in df2['date']]
df2.head()

,Province/State,Country/Region,Lat,Long,date,cases,date2,date3
0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,2020-01-22 00:00:00.000000,2020-01-22 00:00:00.000000
1,NaN,Japan,36.0000,138.0000,2020-01-22,2,2020-01-22 00:00:00.000000,2020-01-22 00:00:00.000000
2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,2020-01-22 00:00:00.000000,2020-01-22 00:00:00.000000
3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,2020-01-22 00:00:00.000000,2020-01-22 00:00:00.000000
4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,2020-01-22 00:00:00.000000,2020-01-22 00:00:00.000000

In [96]:
df2['date3'] = [x.strftime('%Y-%m-%d %H:%M:%S.%f') for x in df2['date']]