In [5]:
import pandas as pd
import numpy as np
%load_ext sql
%sql postgresql://fede:scheisse@localhost/datacamp

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: fede@datacamp'

In [10]:
resultset = %sql select * from fortune500

 * postgresql://fede:***@localhost/datacamp
500 rows affected.

In [11]:
df = resultset.DataFrame()

In [21]:
df.head(5)

,rank,title,name,ticker,url,hq,sector,industry,employees,revenues,revenues_change,profits,profits_change,assets,equity
0,1,Walmart,"Wal-Mart Stores, Inc.",WMT,http://www.walmart.com,"Bentonville, AR",Retailing,General Merchandisers,2300000,485873.0,0.8,13643,-7.2,198825,77798
1,2,Berkshire Hathaway,Berkshire Hathaway Inc.,BRKA,http://www.berkshirehathaway.com,"Omaha, NE",Financials,Insurance: Property and Casualty (Stock),367700,223604.0,6.1,24074,0.0,620854,283001
2,3,Apple,"Apple, Inc.",AAPL,http://www.apple.com,"Cupertino, CA",Technology,"Computers, Office Equipment",116000,215639.0,-7.7,45687,-14.4,321686,128249
3,4,Exxon Mobil,Exxon Mobil Corporation,XOM,http://www.exxonmobil.com,"Irving, TX",Energy,Petroleum Refining,72700,205004.0,-16.7,7840,-51.5,330314,167325
4,5,McKesson,McKesson Corporation,MCK,http://www.mckesson.com,"San Francisco, CA",Wholesalers,Wholesalers: Health Care,68000,192487.0,6.2,2258,53.0,56563,8924

In [20]:
df['revenues'] = pd.to_numeric(df['revenues'])

In [23]:
quantiles = df[['revenues','sector']].groupby('sector').quantile(0.8)

In [28]:
quantiles.head()

                     perc80rev
sector
Aerospace & Defense    50658.0
Apparel                16240.8
Business Services      13931.8
Chemicals              13362.4
Energy                 22454.0

In [27]:
quantiles.rename(columns={'revenues':'perc80rev'}, inplace=True)

In [29]:
df = df.merge(quantiles, left_on='sector', right_index=True)
df.head()

,rank,title,name,ticker,url,hq,sector,industry,employees,revenues,revenues_change,profits,profits_change,assets,equity,perc80rev
0,1,Walmart,"Wal-Mart Stores, Inc.",WMT,http://www.walmart.com,"Bentonville, AR",Retailing,General Merchandisers,2300000,485873.0,0.8,13643,-7.2,198825,77798,21911.4
15,16,Costco,Costco Wholesale Corporation,COST,http://www.costco.com,"Issaquah, WA",Retailing,General Merchandisers,172000,118719.0,2.2,2350,-1.1,33163,12079,21911.4
22,23,Home Depot,"The Home Depot, Inc.",HD,http://www.homedepot.com,"Atlanta, GA",Retailing,Specialty Retailers: Other,406000,94595.0,6.9,7957,13.5,42966,4333,21911.4
37,38,Target,Target Corporation,TGT,http://www.target.com,"Minneapolis, MN",Retailing,General Merchandisers,323000,69495.0,-5.8,2737,-18.6,37431,10953,21911.4
39,40,Lowe’s,"Lowe's Companies, Inc.",LOW,http://www.lowes.com,"Mooresville, NC",Retailing,Specialty Retailers: Other,240000,65017.0,10.1,3093,21.5,34408,6434,21911.4

In [33]:
%time
filter = df['revenues'] >= df['perc80rev']

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 11.4 µs

In [34]:
len(df)

500

In [36]:
df = df[filter]
len(df)

107